.transactions {
    height: calc(100vh - 400px);
    margin-bottom: 10px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
}

@media (max-width:480px) {

    .transactions,
    .no-record {
        height: calc(100vh - 480px) !important;
    }
}

.no-record {
    height: calc(100vh - 400px) !important;
    padding: 10px;
    font-size: large;
    font-style: italic;
}

.transactions::-webkit-scrollbar {
    width: 6px;
}

.transactions::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.transactions::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 10px;
}